<br>
<div class="container"
    style=" background-size:cover; height: 600px; padding: -2px;background-image: url(https://img.freepik.com/free-vector/paper-art-airplane-flying-from-mobile-phone-holiday-concept_34103-332.jpg?size=626&ext=jpg&ga=GA1.2.609849508.1649337730);">
</div>
<div class="container" style="width: 25%;margin-top: -35%; margin-right: 15%;">

    <form #f="ngForm" novalidate>
        <div style="margin-top:25%; text-align: center; color: blue; font-size: 25px;">
            <b>Login Here! </b>
        </div>
        <br>
        <br>
        <div class="mb-3">
            <label><b>Email address</b></label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email"
                aria-describedby="emailHelp" ngModel email="true" name="email" #myemail="ngModel" required>
            <div class="text-danger" *ngIf="myemail.touched && myemail.invalid">
                <b>*please enter a valid email</b>
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label><b>Password</b></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel name="password" minlength="6"
            #mypassword="ngModel" required>
            <div class="text-danger" *ngIf="mypassword.touched && mypassword.invalid">
                <b>Password enter a valid password</b>
            </div>
        </div>
        <br>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"><b>Check me out</b></label>
            &nbsp;&nbsp; <a href="#">forget password</a>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>
</div>