<!-- <div class="p-3 text-light" style="background-color: rgb(24, 24, 83);">
    <h4 class="container">Select Travellers</h4>
</div> -->
<!-- <br><br> -->
<!-- <div class="container">
    <h5><b>Get Free Cancellation</b></h5>
    <div class="border p-3">

        <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio1">
            <label class="form-check-label" for="flexRadio">
                Yes, I want full refund upon cancellation
                Approx Refund : ₹ 1515/person
                Only for ₹197/person.
            </label>
        </div>
        <br>
        <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="flexRadio" id="flexRadioChecked 2" checked>
            <label class="form-check-label" for="flexRadioChecked">
                No, I am willing to pay the charges upon cancellation
            </label>
        </div>
    </div>
    <br><br>
    <h5><b>Contact Information</b></h5>
    <br>
    <div class="row g-3">
        <div class="col-4">
            <label>Email id</label>
            <input type="email" class="form-control" placeholder="Enter email id" ngModel email="true" name="email"
                #myemail="ngModel" required>
            <div class="text-danger" *ngIf="myemail.touched && myemail.invalid">
                <b>*please enter a value</b>
            </div>
        </div>
        <div class="col-4">
            <label>Mobile Number</label>
            <input type="mobile number" class="form-control" placeholder="Enter Mobile Number"
                aria-label="mobile number" ngModel name="myphnnum" #myphnnum="ngModel" required>
            <div class="text-danger" *ngIf="myphnnum.touched && myphnnum.invalid">
                <b>*please enter a value</b>
            </div>
        </div>
    </div>
    <br><br>
    <h5><b>Additional Preferences</b></h5>
    <br>

    <p>Choose one option for assured lower berth or same coach</p>
    <br>

    <div class="border p-3">

        <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="flexRadio1" id="flexRadioChecked1" checked>
            <label class="form-check-label" for="flexRadio1">
                None
            </label>
        </div>
        <br>
        <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="flexRadio1" id="flexRadio2">
            <label class="form-check-label" for="flexRadio2">
                Book, only if all berths are allotted in same coach
            </label>
        </div>
        <br>
        <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="flexRadio1" id="flexRadio3">
            <label class="form-check-label" for="flexRadio3">
                Book, only if at least 1 lower berth is allotted
            </label>
        </div>
        <br>
        <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="flexRadio1" id="flexRadioChecked4">
            <label class="form-check-label" for="flexRadio4">
                Book, only if 2 lower berths are allotted
            </label>
        </div>
    </div>
    <br><br>
    <p>Other Options</p>
    <br>
    <div class="border p-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Book only if confirm berths are allotted.
            </label>
        </div>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
                Consider for auto-upgradation (optional)
            </label>
        </div>
    </div>
    <br><br>
    <div class="border p-3">

        <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="flexRadio2" id="flexRadio1">
            <label class="form-check-label" for="flexRadio">
                Yes, and I accept the
                Insurance Terms & Conditions
            </label>
        </div>
        <br>
        <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="flexRadio2" id="flexRadioChecked 2" checked>
            <label class="form-check-label" for="flexRadioChecked">
                No, I don’t want travel insurance
            </label>
        </div>
    </div>
    <br>
    <h5>Payment</h5>

    <div class="form-check m-2 mb-3">
        <input class="form-check-input" type="radio" name="flexRadio3" id="flexRadio1" checked>
        <label class="form-check-label" for="flexRadio">
            Credit Card
        </label>
    </div>

    <div class="form-check m-2 mb-3">
        <input class="form-check-input" type="radio" name="flexRadio3" id="flexRadioChecked2">
        <label class="form-check-label" for="flexRadioChecked">
            debit Card
        </label>
    </div>

    <br>
    <div class="mb-3">
        <div class="row g-3 col-4">
            <div class="col">
                <label><b>Card Nmuber</b></label>
                <input type="cardnumber" class="form-control" placeholder="Card Nmuber" aria-label="Card Nmuber"
                    ngModel name="cardn" #cardn="ngModel" required>
                <div class="text-danger" *ngIf="cardn.touched && cardn.invalid">
                    <b>*please enter a value</b>
                </div>
            </div>
            <div class="col-4">
                <label><b>CVV</b></label>
                <input type="password" class="form-control" placeholder="cvv" aria-label="cvvn" ngModel
                    name="cvvn" #cvvn="ngModel" required>
                <div class="text-danger" *ngIf="cvvn.touched && cvvn.invalid">
                    <b>*please enter a value</b>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h5>Passangers</h5>
    <br>
    <div class="row g-3">
        <div class="mb-3 col-3">

            <input type="number" class="form-control" id="exampleInputNumber1" name="passengers_nm"
                [(ngModel)]="passengers" required>
        </div>
        <div class="col">
           
            <div>
                <button class="btn btn-secondary" (click)="getAmount()">Get Amount</button>
            </div>
        </div>
    </div>

    <div *ngIf="isGetAmtClicked">
        <span class="color"> <b>Amount to be Paid</b></span>
        &nbsp;&nbsp;<button class="btn btn-success">{{calculateAmount}}</button>
    </div>

    <br>
   
    <button [disabled] (click)="getValues()" class="btn btn-primary btn-lg">Pay</button>

</div> -->

<div class="img">
    <div class="row">
        <div class="col-3"></div>

        <div class=" border border-secondary p-3 m-5 col-6">

            <div class="form">
                <form #f="ngForm" novalidate>
                    <br>
                    <div class="row g-3">
                        <div class="col">
                            <label><b>First name</b></label>
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                                ngModel name="fname" #myFname="ngModel" required>
                            <div class="text-danger" *ngIf="myFname.touched && myFname.invalid">
                                <b>*please enter a value</b>
                            </div>
                        </div>
                        <div class="col">
                            <label><b>Last name</b></label>
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                                ngModel name="lname" #myLname="ngModel" required>
                            <div class="text-danger" *ngIf="myLname.touched && myLname.invalid">
                                <b>*please enter a value</b>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col">
                                <label><b>Phone Number</b></label>
                                <input type="Phone Number" class="form-control" id="exampleInputPhonenumber1" placeholder="xxxxxxxxxx"
                                    aria-label="Phone Number" ngModel name="phonenumber" #myphnnum="ngModel" required>
                                <div class="text-danger" *ngIf="myphnnum.touched && myphnnum.invalid">
                                    <b>*please enter a number</b>
                                </div>
                            </div>

                            <br>
                            <div class="col">
                                <label><b>Email address</b></label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="abc@gmail.com"
                                    aria-describedby="emailHelp" ngModel email="true" name="email" #myemail="ngModel"
                                    required>
                                <div class="text-danger" *ngIf="myemail.touched && myemail.invalid">
                                    <b>*please enter a valid email</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">

                        <div class="row g-3">
                            <div class="col">
                                <label><b>From</b></label>
                                <input type="text" class="form-control" placeholder="Bangalore" aria-label="From"
                                    ngModel name="from" #from="ngModel" required>

                                <div class="text-danger" *ngIf="from.touched && from.invalid">
                                    <b>*please enter a city</b>
                                </div>

                            </div>

                            <div class="col">
                                <label><b>To</b></label>
                                <input type="text" class="form-control" placeholder="London" aria-label="to" ngModel
                                    name="to" #to="ngModel" required>

                                <div class="text-danger" *ngIf="to.touched && to.invalid">
                                    <b>*please enter a city</b>
                                </div>

                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="row g-3">
                        <div class="mb-3 col">
                            <h5>Payment</h5>

                            <div class="form-check m-2">
                                <input class="form-check-input" type="radio" name="flexRadio3" id="flexRadio1" checked>
                                <label class="form-check-label" for="flexRadio">
                                    Credit Card
                                </label>
                            </div>

                            <div class="form-check m-2">
                                <input class="form-check-input" type="radio" name="flexRadio3" id="flexRadioChecked2">
                                <label class="form-check-label" for="flexRadioChecked">
                                    debit Card
                                </label>
                            </div>
                        </div>

                        <div class="col">
                            <label><b>Booking on</b></label>
                            <input type="date" class="form-control" aria-label="First name" ngModel name="date"
                                #myFname="ngModel" required>
                        </div>

                    </div>
                    <br>
                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col">
                                <label><b>Card Nmuber</b></label>
                                <input type="cardnumber" class="form-control" placeholder="xxxxxxxxxxxxxxxx"
                                    aria-label="Card Nmuber" ngModel name="cardn" #cardn="ngModel" required>
                                <div class="text-danger" *ngIf="cardn.touched && cardn.invalid">
                                    <b>*please enter a value</b>
                                </div>
                            </div>
                            <div class="col">
                                <label><b>CVV</b></label>
                                <input type="password" class="form-control" placeholder="cvv" aria-label="cvvn" ngModel
                                    name="cvvn" #cvvn="ngModel" required>
                                <div class="text-danger" *ngIf="cvvn.touched && cvvn.invalid">
                                    <b>*please enter a value</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3">
                        <div class="mb-3 col">
                            <label><b>Passengers</b></label>
                            <input type="number" class="form-control" id="exampleInputNumber1" name="passengers"
                                [(ngModel)]="passengers" required>
                        </div>
                        <div class="col">
                            <label><b>Amount</b></label>

                            <div>
                                <button class="btn btn-secondary" (click)="getAmount()" name="amount">Get Amount
                                </button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isGetAmtClicked">
                        <span class="color"> <b>Amount to be Paid</b></span>
                        &nbsp;&nbsp;<button class="btn btn-success">{{calculateAmount}}</button>

                    </div>

                    <br>
                    <button (click)="getFormsValue(f)" class="btn btn-primary btn-lg">Pay</button>

                </form>
            </div>
        </div>

        <div class="col-3"></div>
    </div>
</div>