.color{
    background-color: aquamarine;
    min-height: 300px;
}

.border{
    min-height: 420px;
    background-color: #ffff;
    width: 70%;
    margin-top: -180px;
    border-radius: 20px;
    border-color: grey;
}

.image{
    margin-left: 150px;
    margin-top: -90px;
  }
.msg{
    margin-left: 380px;
    margin-top: 80px;
 } 
.text{
    margin-left: 380px;
    margin-top: 30px;
 }
.button{
    margin-left: 250px;
    margin-top: 40px;
}