<!-- {{userList|json}}

{{user|json}} -->

<div class="color" style="background-color:aquamarine ;">

</div>

<div class="border container">
    <mat-tab-group>
        <mat-tab label="UPCOMING">
            <!-- TemplateRef<NgIfContext<T>> -->
            <br>
            <div *ngIf="userList">

                <div *ngFor="let myele of userList">

                    <!-- {{myele.firstname}}
                    {{myele.lastname}} -->

                </div>

                <div *ngFor="let myele of user">
                    <div class="card">
                        <div class="card" role="document" style="background-color: greenyellow;">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:greenyellow;">
                                    <h3 class="modal-title" style="font-style:oblique ;">Train Tickets</h3>
                                </div>
                                <div class="modal-body" style="background-color:greenyellow;">
                                    <h3 style="padding-left:160px;font-style: oblique;">From</h3>
                                    <br>
                                    <h4 style="padding-left:150px ; font-style: oblique;">{{myele.fromc}}</h4>
                                    <div class="container" style="padding-left:450px ; margin-top:-100px">
                                    <img src="https://www.ixigo.com/rt-flight/pc/img/train-new.svg" width="100px">
                                    <h3 style="padding-left:350px;font-style: oblique; margin-top:-100px">To</h3>
                                    <br>
                                    <h4 style="padding-left:310px ; font-style: oblique;">{{myele.Toc}}</h4>
                                </div>
                                </div>
                                <div class="modal-footer" style="background-color:greenyellow;">
                                    <button type="button" class="btn btn-primary"  mat-button (click)="openDialog()">Details</button>
                                    <button type="button" class="btn btn-danger">Cancellation</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- <div *ngIf="!userList">
           other content here...
          </div> -->

        </mat-tab>
        <mat-tab label="CANCELLED"> Content 2 </mat-tab>
        <mat-tab label="COMPLETED"> Content 3 </mat-tab>
    </mat-tab-group>

</div>