<img src="https://img.freepik.com/free-vector/subway-underground-train-passengers-cartoon_1284-21203.jpg?t=st=1650991565~exp=1650992165~hmac=33e33780e443796851ece6fc4e93f9c46a40d6258208dea89450039c5e2c0305&w=1060"
    style="background-size: cover; width:100%; height: 400px;">
<br>
<div class="border container"
    style="border-radius:15px;background-color: rgb(155, 135, 235);height: 7%;min-height: 50px;margin-top: 1.5%;width: 28%;">
    <h3 class="text-dark container" style="text-align:center;">{{trainL.from}} ---> {{trainL.to}}</h3>
</div>
<br><br>
<div *ngFor="let trainl of trains">
    <br>
    <div class="border border-secondary container">
      
        <div class="row">
                        
            <h4 style="margin-top: 2%;"><b>{{trainl.trainname}}</b></h4>
            <p style="margin-left: 43%; margin-top: -4%;"><b>{{trainl.fromtime}}</b></p>
            <p style="margin-left: 43%; margin-top: -2%;">{{trainL.from}}</p>
            <a style="border-top: 3px solid rgb(230, 227, 221);left:55%;position:relative; margin-top: -5%;width: 13%;">
                {{trainl.way}}</a>
            <p style="margin-left: 70%; margin-top: -6%;"><b>{{trainl.totime}}</b></p>
            <p style="margin-left: 70%; margin-top: -4.5%;">{{trainL.to}}</p>
            <br><br><br><br>

            <div class="box border" style="width:20% ; height: 10px; min-height: 120px; left:3%;position: relative;">
                
                <b>{{trainl.ffboxin}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{trainl.ffcost}}</b>
                <h6 [routerLink]="['/trainclick']" mat-tab-group mat-align-tabs= 'start' class="text-success">{{trainl.ffavailable}}</h6>
                <br>
                <a>{{trainl.fsfree}}</a>
            </div>
            
            
            <div class="box border" style="width:20% ; height: 10px; min-height: 120px; left:7%;position: relative;">
                <b> {{trainl.fsboxin}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{trainl.fscost}}</b>

                <h6 [routerLink]="['/trainclick']" mat-tab-group mat-align-tabs= 'start' class="text-warning">{{trainl.fsavailable}}</h6>
                <!-- <p [routerLink]="['/trainclick']" mat-tab-group mat-align-tabs= 'start' class="order-title"></p> -->
                <br>
                <a>{{trainl.fsfree}}</a>
            </div>
            <div class="box border" style="width:20% ; height: 10px; min-height: 120px; left:11%;position: relative;">
                <b> {{trainl.ftboxin}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{trainl.ftcost}}</b>

                <h6 [routerLink]="['/trainclick']" mat-tab-group mat-align-tabs= 'start' class="text-warning">{{trainl.ftavailable}}</h6>
                <br>
                <a>{{trainl.fsfree}}</a>
            </div>
            <div class="box border" style="width:20% ; height: 10px; min-height: 120px; left:14%;position: relative;">
                <b> {{trainl.ffoboxin}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{trainl.ffocost}}</b>

                <h6 [routerLink]="['/trainclick']" mat-tab-group mat-align-tabs= 'start' class="text-danger">{{trainl.ffoavailable}}</h6>
                <br>
                <a>{{trainl.fsfree}}</a>
            </div>
        </div>
    </div>

</div>