<img src="https://img.freepik.com/free-vector/passengers-bus-stop_40816-736.jpg?w=1380"
    style="background-size: cover; width:100%; height: 480px;">
<br>

<div class="border container"
    style="border-radius:15px;background-color: rgb(155, 135, 235);height: 7%;min-height: 50px;margin-top: 1.5%;width: 28%;">
    <h3 class="text-dark container" style="text-align:center;">{{busL.from}} ---> {{busL.to}}</h3>
</div>
<br><br>
<div *ngFor="let busl of buses">
    <br>
    <div class="border border-secondary container">

        <div class="row">
            <h4 class="busename"><b>{{busl.busname}}</b></h4>
            <p class="start">{{busl.start}}</p>

            <h4 class="cost"><b>{{busl.bcost}}</b></h4>
            <p class="pline">{{busl.pline}} </p>
            <a class="btn btn-primary  btn-lg  rounded-pill" type="button" aria-expanded="false" [routerLink]="['/busclick']">
                <b> Select </b>
            </a>
            <p class="fromtime"><b>{{busl.fromtime}}</b></p>
            <a class="line">{{busl.way}}</a>
            <p class="time"><b>{{busl.totime}}</b></p>
            <img src="https://jsak.mmtcdn.com/bus_cdn_dt/static/media/ic-gps.704f79e1.svg">
            <p class="track">{{busl.track}} </p>


            <p class="free">{{busl.free}}</p>
        </div>
    </div>
</div>
<br><br><br><br>