* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    list-style: none;

    font-family: 'Montserrat', sans-serif;

}



body {

   background-image: url(https://img.freepik.com/free-photo/top-view-traveling-items-wooden-background_23-2148971050.jpg?w=2000);
   width: 100%;

   background-size:cover;
}



.wrapper {

    min-height: 100vh;

    display: flex;

    /* justify-content:center; */

    align-items: center;
   /* margin-right: 50px; */
    /* position: absolute; */
    /* right: 50%; */

}



.registration_form {

    background: rgba(248, 249, 252, 0.75);

    padding: 25px;

    border-radius: 5px;
     position: absolute;

    width: 500px;
    /* height: 500px; */
    right: 50%;

}

.registration_form .title {

    text-align: center;

    font-size: 20px;

    text-transform: uppercase;

    color: blue;

    letter-spacing: 3px;

    font-weight: 700;

}



.form_wrap {

    margin-top: 35px;

}



.form_wrap .input_wrap {

    margin-bottom: 15px;

}



.form_wrap .input_wrap:last-child {

    margin-bottom: 0;

}

.form_wrap .input_wrap label {

    display: block;

    margin-bottom: 3px;

    color: #242527;

}

.form_wrap .input_grp {

    display: flex;

    justify-content: space-between;

}



.form_wrap .input_grp input[type="text"] {

    width: 165px;

}



.form_wrap input[type="text"] {

    width: 100%;

    border-radius: 3px;

    border: 1px solid #9597a6;

    padding: 10px;

    outline: none;

}

/* .form_wrap input[type="text"]:focus {

    border-color: #9df8a9;

} */



.form_wrap ul {

    background: #fff;

    padding: 8px 10px;

    border-radius: 3px;

    display: flex;

    justify-content: center;

}



.form_wrap ul li:first-child {

    margin-right: 15px;

}


.form_wrap ul .radio_wrap {

    position: relative;

    margin-bottom: 0;

}



.form_wrap ul .radio_wrap .input_radio {

    position: absolute;

    top: 0;

    right: 0;

    opacity: 0;

}



.form_wrap ul .radio_wrap span {

    display: inline-block;

    font-size: 14px;

    padding: 3px 20px;

    border-radius: 3px;

    color: #545871;

}

.form_wrap .input_radio:checked~span {

    background: #5458717d;

}



.form_wrap .submit_btn {

    width: 100%;

    background: #67ae1692;

    padding: 10px;

    border: 0;

    border-radius: 3px;

    text-transform: uppercase;

    letter-spacing: 2px;

    cursor: pointer;
    
    font: bold;

}



.form_wrap .submit_btn:hover {

    background: #ffd5d2;
    

}