<!DOCTYPE html>
<html>
<head>
</head>
<body>
 <div class="wrapper">

        <div class="registration_form">

            <div class="title">

                Registration Form

            </div>

            <form>

                <div class="form_wrap">

                    <div class="input_grp">

                        <div class="input_wrap">

                            <label for="fname"><b>First Name</b></label>

                            <input type="text" id="fname">

                        </div>

                        <div class="input_wrap">

                            <label for="lname"><b>Last Name</b></label>

                            <input type="text" id="lname">

                        </div>

                    </div>

                    <div class="input_wrap">

                        <label for="email"><b>Email Address</b></label>

                        <input type="text" id="email">

                    </div>

                    <div class="input_wrap">

                        <label for="phone"><b>phone number</b> </label>

                        <input type="text" id="phone">

                    </div>





                    <div class="input_wrap">

                        <label><b>Gender</b></label>

                        <ul>

                            <li>

                                <label class="radio_wrap">

                                    <input type="radio" name="gender" value="male" class="input_radio" checked>

                                    <span><b>Male</b></span>

                                </label>

                            </li>

                            <li>

                                <label class="radio_wrap">

                                    <input type="radio" name="gender" value="female" class="input_radio">

                                    <span><b>Female</b></span>

                                </label>

                            </li>

                        </ul>

                    </div>

                    <div class="input_wrap">

                        <label for="city"><b>City</b></label>

                        <input type="text" id="city">

                    </div>

                    <div class="input_wrap">

                        <label for="country"><b>Country</b></label>

                        <input type="text" id="country">

                    </div>

                    <div class="input_wrap">

                        <input type="submit" value="Register Now" class="submit_btn">

                    </div>

                </div>

            </form>

        </div>
    </div>
