<div class="container" *ngFor="let myele of user">
    <div class="border p-3 m-3">
        <div class="container">
            &nbsp;&nbsp; &nbsp;&nbsp;<h5>Firstname : &nbsp;&nbsp;&nbsp;{{myele.firstname}}</h5>
            <br>
            &nbsp;&nbsp; &nbsp;&nbsp;<h5>Lastname : &nbsp;&nbsp;&nbsp;{{myele.lastname}}</h5>
            <br>
            &nbsp;&nbsp; &nbsp;&nbsp;<h5>Email : &nbsp;&nbsp;&nbsp;{{myele.email}}</h5>
            <br>
            &nbsp;&nbsp; &nbsp;&nbsp;<h5>Phone Number : &nbsp;&nbsp;&nbsp;{{myele.phonenumber}}</h5>
            <br>
            &nbsp;&nbsp; &nbsp;&nbsp;<h5> Booking Date: &nbsp;&nbsp;&nbsp;{{myele.date}}</h5>
            <br>
            &nbsp;&nbsp; &nbsp;&nbsp;<h5>Passengers : &nbsp;&nbsp;&nbsp;{{myele.passengers}}</h5>
            <br>
            &nbsp;&nbsp; &nbsp;&nbsp;<h5>Amount : &nbsp;&nbsp;&nbsp;{{myele.amount}}</h5>
        </div>
    </div>
</div>