.border {

    border-radius: 15px;
    background-color: #ffff;
    height: 40%;
    min-height: 250px;

}

.body {
    min-height: 350px;

}

.example{
   top:15%;
   position: absolute;
}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 