

<div style="background-color: rgb(11, 11, 89);">
    <br>
    <div class="body" style="background-color:rgb(11, 11, 89) ;">
        <div class="container" style="background-color: rgb(13, 13, 81); height: 25px; width: 120%;">
            <div class="border">
                <br>
                <form #searchForm="ngForm" class="example-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">

                                <label for="inputState" class="form-label">
                                    <h4 style="margin-left:70px;"><b>From</b></h4>
                                </label>

                                <mat-form-field appearance="fill" style="top:17%;left: 22%">
                                    <mat-label>Select an option</mat-label>
                                    <mat-select disableRipple id="from" name="fromLocation" ngModel #fromL="ngModel">
                                        <mat-option value="Bangalore" id="1">Bangalore,India</mat-option>
                                        <mat-option value="NewYork" id="2">NewYork,U.S.A</mat-option>
                                        <mat-option value="Mumbai" id="3">Mumbai,India</mat-option>
                                        <mat-option value="New Delhi" id="4">New Delhi,India</mat-option>
                                        <mat-option value="Paris" id="5">Paris,France</mat-option>
                                        <mat-option value="Hyderabad" id="6">Hyderabad,India</mat-option>
                                        <mat-option value="Maldives" id="7">Maldives</mat-option>
                                        <mat-option value="Dubai" id="8">Dubai,U.A.E</mat-option>
                                        <mat-option value="Amsterdom" id="9">Amsterdom,Netherlands</mat-option>
                                        <mat-option value="Los Angeles" id="10">Los Angeles,U.S.A</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <label for="inputState" class="form-label" style="left: 50%;">
                                    <h4 style="margin-left:130px;"><b>To</b></h4>
                                </label>
                                <mat-form-field appearance="fill" style="top:17%;left: 48%">

                                    <mat-label>Select an option</mat-label>
                                    <mat-select id="to" name="toLocation" ngModel #toLoc="ngModel">
                                        <mat-option value="London" id="1">London,England</mat-option>
                                        <mat-option value="Singapore" id="2">Singapore</mat-option>
                                        <mat-option value="Goa" id="3">Goa,India</mat-option>
                                        <mat-option value="Chennai" id="4">Chennai,India</mat-option>
                                        <mat-option value="Zurich" id="5">Zurich,Switzerland</mat-option>
                                        <mat-option value="Dubai" id="6">Dubai,U.A.E</mat-option>
                                        <mat-option value="NewYork" id="7">NewYork ,united States</mat-option>
                                        <mat-option value="Manchester" id="8">Manchester,England</mat-option>
                                        <mat-option value="Paris" id="9">Paris,France</mat-option>
                                        <mat-option value="Greece" id="10">Greece</mat-option>
                                        <mat-option value="Spain" id="11">Spain</mat-option>
                                        <mat-option value="Amsterdom" id="12">Amsterdom,Netherlands</mat-option>


                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <ul>
                                <label for="inputState" class="form-label">
                                    <h4 style="margin-left:620px; margin-top:-8.5%;position: absolute;"><b>DEPARTURE</b>
                                    </h4>
                                </label>
                                <li>
                                    <mat-form-field class="example-full-width" appearance="fill"
                                        style="left: 48%; top:27%;position: absolute;">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker">
                                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker></mat-datepicker>
                                    </mat-form-field>

                                    <label for="inputState" class="form-label">
                                        <h4 style="margin-left:950px; margin-top:-10%;position: absolute;"><b>RETURN</b>
                                        </h4>
                                    </label>

                                    <mat-form-field class="example-full-width" appearance="fill"
                                        style="left: 69%; top:27%;position: absolute;">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker1">
                                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker1></mat-datepicker>
                                    </mat-form-field>
                                </li>
                            </ul>
                        </div>


                        <button class="btn btn-primary  btn-lg  rounded-pill" type="button" aria-expanded="false"
                            style="left: 40%;position: relative; margin-top: 1%;width: 11%;height: 50px;">
                            <a [routerLink]="['/flights/search']" [queryParams]="{ from:fromL.value, to: toLoc.value}"
                                style="text-decoration: none; color:white;">
                                <b> Search </b></a>
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<br><br><br><br>